@import '@/pages/styles/variables.scss';

.greatings {
    width: fit-content;
    padding: 15px 0px 0px 15px;

    .greatingsContent {
        font: {
            size: 1.2rem;
            weight: 400;
        }

        background-color: $cinza-medio;
        border: none;
        border-radius: 7px;
        padding: 10px 15px;
        display: flex;
        align-items: center;

        img {
            padding-right: 7px;
        }
    }
}

// Estilo Desktop
@media only screen and (min-width: 1024px) {
    .greatings {
        padding: 20px 0px 0px 40px;

        .greatingsContent {
            font-size: 1.25rem;
            padding: 12px 23px;
        }

        img {
            width: 1.5rem;
            height: 1.5rem;
        }
    }
}